.scrolltop-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: #4f7f00;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: all 0.3s ease;
}

.scrolltop-btn:hover {
  background: #4f7f00;
  color: #fff;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
 .scrolltop-btn{
  bottom: 80px;
  right: 18px;
 }
}